<doctype html>
<head>
  <title>Flask Special Tool Database</title>
</head>

<h2>Flask Special Tool Database</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}  

{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  <p><input type=submit value=Search>
</form>
<p>
<form action="{{ url_for('.new_tool') }}">
    <input type="submit" value="New Tool?" />
</form>
